.menu {margin-bottom: 20px;}
.menu a {margin-left: 20px;}

#gameOfLife div {display: inline-block; margin: 0 0 0 4px; padding: 0 0 0 0;}

.life {border: 1px solid gray; width: 15px; height: 15px;}
.alive {background-color: black;}
.dead {background-color: white;}
